In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("ratings.csv")

In [16]:
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [17]:
# drop==False is to let index list keeps in column
# inplace=True is to modify the current DataFrame
df.set_index('userId', inplace=True, drop=False)

In [18]:
df.head()

        userId  movieId  rating  timestamp
userId
1            1        1     4.0  964982703
1            1        3     4.0  964981247
1            1        6     4.0  964982224
1            1       47     5.0  964983815
1            1       50     5.0  964982931

In [19]:
df.index

Int64Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
            ...
            610, 610, 610, 610, 610, 610, 610, 610, 610, 610],
           dtype='int64', name='userId', length=100836)

In [20]:
df.loc[500].head(5)

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

In [22]:
df.loc[df['userId']==500].head()

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

In [25]:
 # index in random
from sklearn.utils import shuffle
df_shuffle = shuffle(df)

In [36]:
df_shuffle.head()

        userId  movieId  rating   timestamp
userId
359        359     1416     3.0  1192499568
580        580     1127     4.0  1167791486
305        305    88129     4.0  1460136304
606        606      735     4.0  1171500706
474        474     4975     3.0  1061160975

In [37]:
df_shuffle.index.is_monotonic_increasing

False

In [38]:
df_shuffle.index.is_unique

False

In [39]:
%timeit df_shuffle.loc[500]

275 µs ± 31.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [40]:
# index after sorted
df_sorted = df_shuffle.sort_index()

In [41]:
df_sorted.head()

        userId  movieId  rating  timestamp
userId
1            1     1644     3.0  964983536
1            1     1920     4.0  964981780
1            1      235     4.0  964980908
1            1     1220     5.0  964981909
1            1     1587     5.0  964982346

In [42]:
df_sorted.index.is_monotonic_increasing

True

In [43]:
df_sorted.index.is_unique

False

In [44]:
%timeit df_shuffle.loc[500]

297 µs ± 30.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [45]:
s1 = pd.Series([1,2,3], index=list('abc'))

In [46]:
s1

a    1
b    2
c    3
dtype: int64

In [47]:
 s2 = pd.Series([2,3,4], index=list('bcd'))

In [48]:
s2

b    2
c    3
d    4
dtype: int64

In [49]:
s1+s2

a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64